/* <select> styles */
select {
    /* Reset */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    /*width: 20em;*/
    /*height: 3em;*/
    padding: 0.1em 1.5em 0.1em 1em;
    background: url("..\\textures\\arrow.svg") no-repeat right 0.3em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 1.8em, rgba(255, 255, 255, 0.2) 1.8em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    /* Remove focus outline */
    /* Remove IE arrow */
}
select option {
    color: inherit;
    background-color: #0a1a32;
}
select:focus {
    outline: none;
}
select::-ms-expand {
    display: none;
}